In [1]:
import requests
from datetime import datetime
import urllib.parse
import pandas as pd

In [2]:
def fetch_wikidata(params):
    url = "https://www.wikidata.org/w/api.php"
    try:
        response = requests.get(url, params=params)
        return response.json()  # Return JSON content here
    except requests.exceptions.RequestException as e:
        return f"There was an error: {e}"

In [3]:
def get_wiki_id_from_page(page_title):

    params = {
        "action": "wbgetentities",
        "format": "json",
        "sites": "enwiki",  # This specifies the English Wikipedia
        "titles": page_title,
        "languages": "en",  # Language for labels and descriptions
    }

    # Fetch API
    data = fetch_wikidata(params)

    # Extract the Wikidata entity ID
    entity_id = list(data['entities'].keys())[0]
    return entity_id

In [4]:
# Decode the URL-encoded title
page_title = urllib.parse.unquote("Tom_Brokaw")

entity_id = get_wiki_id_from_page(page_title)
entity_id

'Q919527'

In [5]:
df = pd.read_csv('nndb.csv')

In [6]:
df

                                     ID            WIKI_PAGE
0      e66912fa8bf67ef6c7fa974ac93bac72          Lindsey_Way
1      3d4a232524cde73e7b1725cdc663bb4b  Morton_Dauwen_Zabel
2      fe332275caf5b3ecb55c1a5cd82a959a        William_Zabka
3      a57ebea4e9bd96ea6ef1fa644ad627bb      Grace_Zabriskie
4      0ed81342099b7e06040a4ebb8c01ac77        Mark_Zachares
...                                 ...                  ...
36418  f6d57c5400750b54882d1963f3af025c   David_Starr_Jordan
36419  457804b87baeef8ac8d798724797794c      Dorothea_Jordan
36420  268488710849bce236dd2fcf5e8d67a1         Eddie_Jordan
36421  165dc604c4df39ab0aa168b0028beaa5         Frank_Jordan
36422  54b80d753e1ed92eb7cb6c6ce9c771d3         Glenn_Jordan

[36423 rows x 2 columns]

`Yes i understand this is 100% YOLO to not do this incrementally`

In [8]:
# Apply the function to the 'WIKI_PAGE' column and create a new 'WIKI_ID' column
df['WIKI_ID'] = df['WIKI_PAGE'].apply(get_wiki_id_from_page)

In [9]:
df.to_csv('seed_nndb_wiki_id.csv')